{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react"
  ],
  "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
  ],
  "rules": {
    "max-len": [2, {"code": 250, "ignoreUrls": true}],
    "quotes": 0,
    "indent": [1, "tab"],
    "no-console": 0,
    "no-debugger": 1,
    "no-var": 1,
    "semi": [1, "always"],
    "no-unused-vars": 1,
    "react/prop-types": 0,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "padding-vertical",
          "padding-horizontal",
          "shadow-color",
          "shadow-offset",
          "shadow-radius",
          "shadow-opacity"
        ]
      }
    ]
  }
}