.mainContainer {
    background-color: #131C24;
    height: 100%;
}

.innerContainer {
	padding: 15px;
}

.loadingBox {
    margin-top: 40;
}

.loadingIcon {
    margin-top: 40;
}

.listBox {
	padding-bottom: 25;
}

.titleText {
	color: #b2b8be;
	font-size: 18px;
	margin-vertical: 10;
}